---
import BaseLayout from "../layouts/BaseLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li class="mb-5">
            <a class="text-lg font-extrabold block" href={post.url}>
              {post.frontmatter.title}
            </a>
            <time class="text-xs" datetime={post.frontmatter.pubDate}>
              {new Date(post.frontmatter.pubDate).toLocaleDateString("ru-ru", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
            <p class="m-0 p-0">{post.frontmatter.description}</p>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
